<!DOCTYPE html>
<html lang="en">

<head>

	<script>
	function getCheckboxValue() {
		// 선택된 목록 가져오기
		const query= 'input[name="checkCart"]:checked';
		
	}
      
      
     </script>
    <title>Team02 Test Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
  	<!-- 0603프라그먼트 css 추가 -->
    <div th:replace="/fragments/headerCss.html :: fragment-headerCss"></div>

    <style type="text/css">
       a:link { color: red; text-decoration: none;}
       a:visited { color: black; text-decoration: none;}
       a:hover { color: blue; text-decoration: underline;}
    </style>

</head>

<body>  

	

	   	<!-- 0603프라그먼트 header/nav 추가 -->
	<div th:replace="/fragments/header.html :: fragment-header"></div>
	<div th:replace="/fragments/nav.html :: fragment-nav"></div>		

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="searchTest" method="post" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

<section class="cart_area">
      <div class="container">
          <div class="cart_inner">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                          	  <th scope="col">선   택</th>
                              <th scope="col">상   품</th>
                              <th scope="col">가   격</th>
                              <th scope="col">수   량</th>
                              <th scope="col">합   계</th>
                          </tr>
                      </thead>
                      <tbody>
                      	
                      	
                          <tr th:each="CartVO:${CartList}">
                          <td>
                      		<input type="checkbox" name="checkCart" checked/>
                      	</td>
                              <td>
                                  <div class="media">
			  <!--c:forEach List를 뿌려줘야 합니다-->
                                      <div class="d-flex">
                                          <img src="./template/img/cart2.png" alt="">
                                      </div>
                                      <div class="media-body">
                                          <a th:href="@{/shop-single/}+${CartVO.productId}">[[${CartVO.title}]]</a>
                                      </div>
                                  </div>
                              </td>	
                              <td>
                                  <h5>[[${CartVO.price}]]</h5>
                              </td>
                              <td>
                              		  <!-- <td><div><script>document.write(count)</script></div></td>  -->
                                  
                                  
                                  <div class="product_count">
                                      <li class="list-inline-item"><span class="btn btn-success" id="btn-minus">-</span></li>
                                            <li class="list-inline-item"><span class="badge bg-secondary" id="var-value">[[${CartVO.count}]]</span></li>
                                            <li class="list-inline-item"><span class="btn btn-success" id="btn-plus">+</span></li>
                                  </div>
                                 
                              </td>
                              <td>
			
                                  <h5>[[${CartVO.money}]]</h5>	<img src="./template/img/web_icon.jpg" alt="">

                              </td>
                              
                              
                              <td>  
                               <a th:href="@{'CartDelete?productId='+${CartVO.productId}}" class="btn btn-info" style="color:black" >삭제</a></td>
                               
                           
                              
                              
                          </tr>
                          
	
                           <tr> 
                              
                              <td>
                                  <h5>                                                      총 가격</h5>
                              </td>
                              <td>
                                  <h5>[[${total}]]</h5>
                              </td>
                          </tr>
                          
                          
                          <tr class="shipping_area">
                              <td class="d-none d-md-block">

                              </td>
                              <td>

                              </td>
		       <td>

                              </td>
 		       <td>

                              </td>

                          </tr>
                          
                          
                          
                          
                           
                          <tr class="out_button_area">
                              <td class="d-none-l">

                              </td>
                              <td class="">

                              </td>
                              <td>

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="gray_btn" href="shop">쇼핑하기</a>&nbsp&nbsp
                                      <button onclick='getCheckboxValue()'>구매하기</button>
                                      <!--  <a class="primary-btn ml-2" href="#">구매하기</a> -->
                                  </div>
                                       
                                  
                              
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>

	 <!-- footer -->
	 <footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
	 
	 
    <!-- Start Script -->
    <script src="template/js/jquery-1.11.0.min.js"></script>
    <script src="template/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="template/js/bootstrap.bundle.min.js"></script>
    <script src="template/js/templatemo.js"></script>
    <script src="template/js/custom.js"></script>
    <!-- End Script -->
</body>

</html>