<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mini01team02.common.model.CommonDAO">



<resultMap type="CommonVO" id="CommonVO">
<id column="replyId"  property="replyId"/>
<result column="username" property="username"/>
<result column="star" property="star"/>
<result column="replycontent" property="replycontent"/>
<result column="productId" property="productId"/>
<result column="regdate" property="regdate"/>
<result column="fileName" property="fileName"/>
<result column="saveFile" property="saveFile"/>
<result column="fileSize" property="fileSize"/>
<result column="fileUrl" property="fileUrl"/>

<!-- 
<association javaType="ShopVO" property="shopVO">
<id column="num" property="num"/>
<result column="productId" property="productId"/>
</association>
 -->
</resultMap>
	
	<insert id="insertFile" parameterType="CommonVO">
	 <selectKey keyProperty="productId" resultType="int" order="BEFORE">
	 	select MAX(productId)
	 	from product
	 </selectKey>
	 insert into file(productId, filename, savefile, fileurl)
	 values(#{productId},#{fileName},#{saveFile},#{fileUrl})
	</insert>
	
	<select id="selectFileDetail" parameterType="int" resultType="CommonVO">
	select * from file where productId=#{productId}
	</select>
	
	<!-- 댓글 insert -->
	<insert id="insertComment" parameterType="CommonVO" >
	   insert into reply (username, star, replycontent, productId, regdate) 
	   values (#{username}, #{star}, #{replycontent}, #{productId}, now())
	</insert>
	
	
	<!-- 댓글 select -->
	<select id="commentList" resultMap="CommonVO" parameterType="PageObj">
	    select a.replyId, a.star, a.username, a.replycontent, b.productId, a.regdate
	    from reply as a
	    join product as b on a.productId = b.productId 
	    where b.productId = #{productId}
	    order by a.replyId desc
	    limit #{stRow}, #{enRow}
	</select>
	
	<!-- 댓글 페이징 -->
	<select id="replyCount" parameterType="PageObj" resultType="int">
	select count(*) from reply 
	join product on 
	reply.productId = product.productId
	where
	product.productId = #{productId}
	</select>
	
</mapper>